/* reset */

		body,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		hr,
		p,
		blockquote,
		dl,
		dt,
		dd,
		ul,
		ol,
		li,
		pre,
		form,
		fieldset,
		legend,
		button,
		input,
		textarea,
		th,
		td,
		html {
		  margin: 0;
		  padding: 0;
		}

		body,
		button,
		input,
		select,
		textarea {
		  font: 12px/1.5 arial, Helvetica, "Microsoft YaHei", "Heiti SC", "Heiti TC", sans-serif;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
		  font-size: 100%;
		}

		address,
		cite,
		dfn,
		em,
		var {
		  font-style: normal;
		}

		code,
		kbd,
		pre,
		samp {
		  font-family: courier new, courier, monospace;
		}

		small {
		  font-size: 12px;
		}

		ul,
		ol {
		  list-style: none;
		}

		a {
		  text-decoration: none;
		  outline: 0 none
		}

		a:hover {
		  text-decoration: underline;
		}

		sup {
		  vertical-align: text-top;
		}

		sub {
		  vertical-align: text-bottom;
		}

		legend {
		  color: #000;
		}

		fieldset,
		img {
		  border: 0;
		}

		button,
		input,
		select,
		textarea {
		  font-size: 100%;
		}

		table {
		  border-collapse: collapse;
		  border-spacing: 0;
		}

		section,
		article,
		aside,
		header,
		footer,
		nav,
		dialog,
		figure {
		  display: block;
		  margin: 0 auto;
		}
	
		/* reset end */
		.clearfix:after{display:block;content:"\200B";clear:both;height:0;}
		.sys-header{
			width: 980px;
			height: auto;
			margin: 20px auto;
		}
		.header_main{
			float: left;
		}
		.header_logo_png{
			position: relative;
			width: 236px;
			height: 48px;
			line-height: 1.2;
		}
		.header_logo_link{
			position: absolute;
			top: 0;
			left: 0;
			width: 236px;
			height: 48px;
			background-image: url('../img/logo.png');
			background-position:0 0;
			background-repeat: no-repeat;
		}
		.header_logo_txt{
			margin-left: 56px;
			font-size: 24px;
			color: #0079cd;
			font-weight: normal;
		}
		.header_logo_url{
			margin-left: 56px;
			font-weight: normal;
			font-size: 12px;
			color: #c0c0c0;
		}
		.header_nav{
			float: left;
			padding-left: 70px;
		}
		.header_nav li{
			float: left;
			margin: 0 7px; 
			line-height: 48px;
		}
		.header_nav li a{
			font-size: 18px;
			color: #c0c0c0;
		}
		.header_nav li .help{
			color:#0c8ef1;
		}
		.icons{
			width: 152px;
			height: 51px;
			float: left;
		}
		.pc,.phone{
			display: inline-block;
			width: 40px;
			height: 51px;
		}
		.pc{
			margin-left: 31px;
			text-align: center;
		}
		.phone{
			margin-left: 10px;
			text-align: center;
		}
		.pc-png{
			background: url('../img/spr.png');
			background-repeat: no-repeat;
			background-position:-100px -60px ;
			display: inline-block;
			width: 39px;
			height: 29px;
		}
		.phone-png{
			background: url('../img/spr.png');
			background-repeat: no-repeat;
			background-position:-140px -60px ;
			display: inline-block;
			width: 20px;
			height: 29px;
			margin: 0 auto;
		}
		.header_user{
			float: right;
			line-height: 48px;
			position: relative;
		}
		.header_user a{
			display: inline-block;
			margin: 0 2px;
		}
		.header_VIP{
			position: relative;
			width: 90px;
			height: 26px;
			background: url('../img/logo.png');
			background-position: 0 -48px;
			background-repeat: no-repeat;
			vertical-align: middle;
		}
		.header_user span{
			position: absolute;
			top: 4px;
			right: 10px;
			font: 12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;
			color: white;
		}
		.decorate{
			width: 100%;
			height: 2px;
			background-color: #0c8ef1;
		}

	.content{
		width: 900px;
		height: 707px;
		margin: 20px auto;
		background-color:white;
		position: relative;
	}	
	.hd1,.hd2{
		float: left;
		width: 150px;
		height: 60px;
		background-color:white;
		font-size: 14px;
		line-height: 4;
   		text-align: center;
	}
	.hd1{
		background-color:#c5c5c5;
	}
	.hd_btn{
		float: right;
		width: 130px;
		height: 40px;
		background-color:#0c8ef1;
		font-size: 14px;
		line-height: 3;
    		text-align: center;
    		color: white;
    		border-radius: 4px;
    		margin-top: 14px;
    		position: absolute;
    		top: 0;
    		right: 0;
	}
	.code-png{
		position: absolute;
		 top: -10px;
		right: 180px;
	}
	.round{
		background-image: url('../img/spr.png');
		background-repeat: no-repeat;
		background-position: -160px -60px;
		display: inline-block;
		width: 24px;
		height: 24px;
		vertical-align: top;
		margin-top: 2px;
	}
	.new-tag{
		display: inline-block;
		width: 43px;
		height: 19px;
		color: #02cc57;
		font: 12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;
		font-size: 14px;
    		font-weight: bold;
    		padding-left: 20px;
	}
	.day{
		vertical-align: top;
		display: inline-block;
    		margin-top: 3px;
	}
	.detail{
		display: inline-block;
		margin-top: 2px;
	}
	.bd1,.bd2{
		border-top: 1px solid #c5c5c5;
	}
	.bd1 li,.bd2 li{
    		  overflow: hidden;
    		  font-size: 16px;
    		  margin-top: 20px;
    		  margin-left: 15px;
	}
	.bd_content{
		height: 30px;
	}
	.bd_content--on{
		 overflow: hidden;
    		  font-size: 16px;
    		  margin-top: 20px;
    		  margin-left: 15px;
		  height: 209px;
	}
	.vertical-line{
		margin-top: 25px;
		width: 130px;
		height: 400px;
		border-right: 1px solid;
		display: inline-block;
	}
	.main{
		position: relative;
    		top: -429px;
	}
	.contact{
		width: 900px;
		height: auto;
		margin: 20px auto;
	}
	.contact-telephone{
		width: 30%;
		float: left;
		margin: 20px 5px;
	}
	.contact-telephone a{
		display: inline-block;
		width: 57px;
		height: 57px;
		background: url('../img/spr.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		position: relative;
		float: left;
		margin-right: 21px;
	}
	.contact-telephone i{
		display: inline-block;
		width: 34px;
		height: 38px;
		background: url('../img/spr.png');
		background-repeat: no-repeat;
		background-position: -100px 0;
		position: absolute;
		top: 10px;
    		left: 12px;
	}
	.contact-info h4{
		display: inline-block;
		margin-left: 5px; 
		font-size: 14px;
	}
	.contact-info p{
		font-size: 24px;
	}
	.contact-QQ{
		width: 30%;
		float: left;
		margin: 20px 5px;
	}
	.contact-QQ a{
		display: inline-block;
		width: 57px;
		height: 57px;
		background: url('../img/spr.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		position: relative;
		float: left;
		margin-right: 21px;
	}
	.contact-QQ i{
		display: inline-block;
		width: 34px;
		height: 38px;
		background: url('../img/spr.png');
		background-repeat: no-repeat;
		background-position: -60px 0;
		position: absolute;
		top: 10px;
    		left: 12px;
	}
	.contact-other{
		width: 35%;
		float: right;
		margin: 20px 5px;
		position: relative;
	}
	.contact-other h4{
		position: absolute;
		left: 11px;
    		top: 15px;
    		font-size: 14px;
	}
	.ico-contractWbpng{
		background: url('../img/spr.png');
		background-repeat: no-repeat;
		background-position:-140px 0;
		display: inline-block;
		width: 57px;
		height: 57px;
		margin-left: 80px;
	}
	.ico-contractWxpng{
		background: url('../img/spr.png');
		background-repeat: no-repeat;
		background-position:-200px 0;
		display: inline-block;
		width: 57px;
		height: 57px;
		margin-left: 15px;
	}
	.ico-contractQzpng{
		background: url('../img/spr.png');
		background-repeat: no-repeat;
		background-position:-260px 0;
		display: inline-block;
		width: 57px;
		height: 57px;
		margin-left: 15px;
	}
		footer{
			width: 960px;
			height: auto;
			margin:0 auto;
			background-color: white;
			text-align: center;
		}
		footer a ,p{
			color: #a5a5a5;
		}
		.footer-link li{
			float: left;
			margin: 0 4px;
		}
		.footer-link{
			display: block;
			width: 400px;
			height: 20px;
			margin: 0px auto;
			padding-top: 30px;
    			margin-bottom: 12px;
		} 
		.line{
			width: 100%;
			height: 1px;
			background-color: #a5a5a5;
		}
		.ban{
			background:url('../img/bg01.jpg');
			background-repeat: no-repeat;
			background-position: center;
		}
		.banner-pc,.banner-android{
			width: 980px;
			height: 467px;
			background: url('../img/bg02.jpg');
			background-repeat: no-repeat;
			background-position: center top;
			margin: 0 auto;
			position: relative;
		}
		.ban_client_png_android{
			position: absolute;
			width: 195px;
			height: 336px;
			background: url('../img/spr-24.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			top: 50px;
			left: 230px;
		}
		.ban_client_center_txt_android{
			font-size: 14px;
			color: #fff;
			margin-top: 34px;
			margin-left: 22px;
		}
		.overflow_android{
		    position: absolute;
		    left: 0;
		    right: 0;
		    margin: auto;
		    width: 170px;
		    height: 85px;
		    overflow: hidden;
		    margin-top: 37px;
		}
		.ban_client_panel_png_android{
			background: url('../img/spr-24.png');
			background-position:-200px 0 ;
			background-repeat: no-repeat;
			width: 170px;
			height: 85px;
		}
		.ban_client_panel_png_number_android{
			width: 72px;
			position: absolute;
			left: 50%;
			margin-left: -36px;
			top: 150px;
		}
		.first-number_android{
			display: inline-block;
		    background: url('../img/spr-24.png');
		    background-repeat: no-repeat;
		    background-position: -420px -90px;
		    width: 19px;
		    height: 30px;
		}
		.second-number_android{
		    display: inline-block;
		    background: url('../img/spr-24.png');
		    background-repeat: no-repeat;
		    background-position: -420px 0px;
		    width: 19px;
		    height: 30px;
		}
		.per_android{
		    display: inline-block;
		    background: url('../img/spr-24.png');
		    background-repeat: no-repeat;
		    background-position: -300px -100px;
		    width: 28px;
		    height: 30px;
		}
		.log-on-btn_android{
		    position: absolute;
		    top: 232px;
		    left: 49px;
		    width: 98px;
		    height: 26px;
		    line-height: 26px;
		    font-size: 12px;
		    color: #fff;
		    text-align: center;
		    background-position: -200px -100px;
			border: 1px solid #fff;
			border-radius: 3px;
		}
		.ban_client_png{
			position: absolute;
			width: 669px;
			height: 481px;
			background: url('../img/spr-24.png');
			background-repeat: no-repeat;
			background-position: 0 -340px;
			top: 0;
			left: 0;
		}
		.ban_client_center{
			position: absolute;
			width: 357px;
    			height: 327px;
			left: 155px;
    			top: 90px;
		}
		.ban_client_center_txt{
			margin:10px 0; 
			margin-left: 8px;
			font-size: 14px;
			color: white;
		}
		.ban_client_center_txt em{
			margin-left: 20px;
		}
		.ban_client_panel_png{
			    width: 280px;
    				height: 140px;
    				overflow: hidden;
    				background: url('../img/spr-24.png');
    				background-position: -460px -160px;
    				background-repeat: no-repeat;
    				position: absolute;
    				left: 0;
    				right: 0;
    				margin: auto;
		}
		.overflow{
				position: absolute;
    				left: 0;
    				right: 0;
    				margin: auto;
			 	width: 280px;
    				height: 140px;
    				overflow: hidden;
		}
		.ban_client_panel_png_number{
			padding-top: 110px;
			width: 116px;
			margin: 0 auto;

		}
		.first-number{
			display: inline-block;
			background: url('../img/spr-24.png');
			background-repeat: no-repeat;
			background-position:-745px -135px;
			width: 30px;
			height: 44px;
		}
		.second-number{
			display: inline-block;
			background: url('../img/spr-24.png');
			background-repeat: no-repeat;
			background-position:-745px 0;
			width: 30px;
			height: 44px;
		}
		.per{
			display: inline-block;
			background: url('../img/spr-24.png');
			background-repeat: no-repeat;
			background-position: -530px -100px;
			width: 50px;
			height: 44px;
		}
		.log-on-btn{
			    	width: 117px;
    				height: 31px;
    				background: url('../img/spr-24.png');
    				background-repeat: no-repeat;
    				background-position: -530px -60px;
    				text-align: center;
    				line-height: 32px;
    				margin: 20px auto;
    				color: white;
		}
		.ban_client_center_bottom_txt p{
				text-align: center;
				font-size:12px; 
				color:white;
		}
		.ban_client_center_bottom_txt span{
			font-size:16px;
			margin-left: 8px;
		}
		.ban_client_info{
			position: absolute;
			top: 100px;
			right: 0;
			padding-left: 20px;
			color:#fff;
		}
		.ban_h1{
			line-height: 40px;
    			font-size: 24px;
    			font-weight: normal;
		}
		.ban_h2{
			line-height: 55px;
    			font-size: 47px;
    			font-weight: bold;
		}
		.ban_h3{
			line-height: 26px;
		     font-size: 18px;
		     font-weight: normal;
		}
		.ban_check{
			position: relative;
			font-size: 14px;
			padding-left: 20px;
			margin: 10px 0;
			color: #fff;
		}
		.ico-circling-png{
			position: absolute;
			width: 16px;
			height: 16px;
			background: url('../img/spr.png');
			background-repeat: no-repeat;
			background-position: -300px -60px;
			left: 0;
			top: 2px;
			vertical-align: middle;
		}
		.ban_handle{
			position: relative;
		}
		.btn-download{
			display: inline-block;
			width: 206px;
			height: 67px;
			background-color: white;
			border-radius: 6px;
			position: relative;
			float: left;
		}
		.ico-pc-png{
			display: inline-block;
			background: url('../img/spr.png');
			background-repeat: no-repeat;
			background-position: 0 -60px;
			width: 45px;
			height: 50px;
			position: absolute;
			left: 17px;
    			top: 10px;
		}
		.btn-download span{
			color: #0c8ef1;
			font-size: 24px;
			width: 120px;
			height: 50px;
			position: absolute;
			right: 15px;
			top: 16px;
		}
		.ban_intro{
			float: left;
			margin-left: 34px;
		}
		.ban_intro p{
			font-size: 14px;
			color: #fff;
			font-weight: normal;
		}
		.ban_intro_p1{
			margin-right: 50px;
		}
		.ban_intro_p2{
			margin-right: 23px;
		}
		.ban_intro_p3{
			margin-right: 23px;
		}
		.ban_tip{
			margin: 14px 0;
			color: #fff;
		}
		.ban_tip_link{
			text-decoration: underline;
			color: #fff;
		}
		.index-content{
			width: 980px;
			height: auto;
			margin: 0 auto;
			font-size: 16px;
			font-weight: normal;
		}
		.index-main_hd{
			margin: 20px  0;
		}
		.before-use-head{
			float: left;
			width: 330px;
			height: 28px;
			margin-left: 50px;
			background: url('../img/spr.png');
			background-position:0 -140px ;
			background-repeat: no-repeat;
			padding-left: 68px;
		}
		.after-use-head{
			float: right;
			width: 330px;
			height: 28px;
			background: url('../img/spr.png');
			background-position:0 -110px;
			background-repeat: no-repeat;
			padding-left: 90px;
		}
		.compare_time-pre{
			width: 48%;
			height: 327px;
			float: left;
			background: url('../img/spr-compare.jpg');
			background-repeat: no-repeat;
			position: relative;
		}
		.compare_time-after{
			width: 52%;
			height: 327px;
			float: right;
			background: url('../img/spr-compare.jpg');
			background-repeat: no-repeat;
			background-position: -470px 0;
			position: relative;
		}
		.compare_time-speed{
			margin-top: 8px;
		}
		.compare_time-pre-speed{
			width: 48%;
			height: 327px;
			float: left;
			background: url('../img/spr-compare.jpg');
			background-repeat: no-repeat;
			background-position:0 -327px; 
			position: relative;
		}
		.compare_time-after-speed{
			width: 52%;
			height: 327px;
			float: right;
			background: url('../img/spr-compare.jpg');
			background-repeat: no-repeat;
			background-position: -470px -327px;
			position: relative;
		}
		.ico-loading{
			display: inline-block;
			width: 58px;
			height: 58px;
			background: url('../img/spr-24.png');
			background-repeat: no-repeat;
			background-position: -460px -60px;
			vertical-align: middle;
		}
		.compare_tips{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -93px;
    			margin-top: -33px;
		}
		.compare_tips_txt{
			font-size: 12px;
			color: #fff;
		}
		.compare-loading{
			position: absolute;
			bottom: 0;
			left: 0;
    			width: 30px;
    			height: 8px;
    			background-color: #919191;
		}
		.pre-loading,.after-loading{
			position: absolute;
			bottom: 0;
			left: 0;
    			width: 20px;
    			height: 8px;
    			background-color: #008add;
		}
		.pic-file-png{
			width: 50px;
			height: 40px;
			position: absolute;
			background: url('../img/spr-24.png');
			background-repeat: no-repeat;
			background-position: -340px -100px;
			left: 160px;
		     top: 144px;
		}
		.pic-plane-png{
			width: 210px;
			height: 60px;
			position: absolute;
			background: url('../img/spr-24.png');
			background-repeat: no-repeat;
			background-position: -460px -0px;
			left: 193px;
   			top: 131px;
		}
		.triangle{
			position: absolute;
			top: 0;
    			left: 604px;
    			border-top: 8px solid #fff;
    			border-left: 8px dashed transparent;
    			border-right: 8px dashed transparent;
    			border-bottom: none;
		}
		.triangle-android{
			left: 651px;
		}
		.sec_function{
			width: 100%;
			height: 600px;
		}
		.function_hd,.question_hd{
			width: 330px;
			height: 33px;
			background: url('../img/spr.png');
			background-repeat: no-repeat;
			background-position: 0 -170px;
			margin: 30px auto;
		}
		.function_hd_title,.question_hd_title{
			padding-left: 114px;
			font-size: 22px;
			font-weight: normal;
		}
		.function_bd_intro{
			font-size: 14px;
			color: #000;
		}
		.question_bd{
			    margin-bottom: 100px;
		}
		.function_bd_intro a{
			text-decoration: underline;
			color: #0079cd;
		}
		.function_bd_intro_pics_item{
			width: 298px;
			height: 204px;
			float: left;
			margin-left: 27px;
			margin-top: 20px;
			text-align: center;
		}
		.item{
			display: inline-block;
			width: 287px;
			height: 164px;
			background: url('../img/spr-function.png');
			background-repeat: no-repeat;
		}
		.item1{
			background-position:0 0;
		}
		.item2{
			background-position: 0 -170px;
		}
		.item3{
			background-position: 0 -340px;
		}
		.item4{
			background-position: 0 -510px;
		}
		.item5{
			background-position: 0 -680px;
		}
		.item6{
			background-position: 0 -850px;
			background-color: #D7DADA;
			font: 12px tahoma,arial,\5b8b\4f53,sans-serif;
			line-height: 143px;
			font-size: 16px;
		}
		.function_bd_intro_pics_item_txt{
			text-align: center;
		}
		.ico-helpQ{
		display: inline-block;
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
		background-color: #00afff;
		vertical-align: middle;
		font-size: 14px;
    		text-align: center;
    		color: #fff;
    		line-height: 21px;
	}
	.ico-helpA{
		display: inline-block;
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
		background-color: #61d41a;
		vertical-align: middle;
		font-size: 14px;
    		text-align: center;
    		color: #fff;
    		line-height: 21px;
	}
	.ico-drop{
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
		background-color: #00afff;
		vertical-align: middle;
		position: absolute;
		right: 5px;
		top: 0;
	}
	.help_QA_item{
		margin: 15px 0;
		height: 34px;
		overflow: hidden;
	}
	.help_QA_item--on{
		height: 85px;
		background-color: #EAF8FF;
	}
	dd{
		padding-top: 10px;
	}
	dt{
		padding-top: 10px;
	}
	dl{
		margin-left: 30px;
	}
		/*CSS3 animations*/
		.compare_time-speed:hover .pic-file-png{
			-webkit-animation: slow 3s steps(6) infinite;
			-o-animation: slow 3s steps(6) infinite;
			animation: slow 3s steps(6) infinite;
		}
			.compare_time-speed:hover .pic-plane-png{
				-webkit-animation: fast .9s steps(3) infinite;
				-o-animation: fast .9s steps(3) infinite;
				animation: fast .9s steps(3) infinite;
		}
			.compare_time:hover .compare_time-pre .compare-loading{
				-webkit-animation: delay-inner 100s steps(40);
				-o-animation: delay-inner 100s steps(40);
				animation: delay-inner 100s steps(40);
			}
			.compare_time:hover .compare_time-pre .compare-loading .pre-loading{
				-webkit-animation: delay-out 100s 1s steps(40);
				-o-animation: delay-out 100s 1s steps(40);
				animation: delay-out 100s  1s steps(40);
			}
		.compare_time:hover .compare_time-after .compare-loading{
				-webkit-animation: noDelay-inner 10s linear both;
				-o-animation: noDelay-inner 10s linear both;
				animation: noDelay-inner 10s linear both;
				
			}
		.compare_time:hover .compare_time-after .compare-loading .after-loading{
				-webkit-animation: noDelay-out 50s 1s linear both;
				-o-animation: noDelay-out 50s 1s linear both;
				animation: noDelay-out 50s 1s linear both;
			}
			.compare_time:hover .compare_time-pre .compare_tips{
				-webkit-animation: show 2.5s steps(2) infinite;
				-o-animation: show 2.5s steps(2) infinite;
				animation: show 2.5s steps(2) infinite;
			}
			.compare_time:hover .compare_time-pre .compare_tips  .ico-loading{
				-webkit-animation: load 2.5s ease both infinite;
				-o-animation: load 2.5s ease both infinite;
				animation: load 2.5s ease both infinite;
			}
			.ban_client_png{
				-webkit-perspective:600px;
				perspective:600px;
				transform-style:preserve-3d;
				-webkit-transform-style:preserve-3d;
			}
			.first-number{
				-webkit-animation: numScroll 2s 2.4s steps(4);
				-o-animation: numScroll 2s 2.4s steps(4);
				animation: numScroll 2s 2.4s steps(4);
			}
			.second-number{
				-webkit-animation: numScroll2 0.6s 2.4s steps(30) 3;
				-o-animation: numScroll2 0.6s 2.4s steps(30) 3;
				animation: numScroll2 0.6s 2.4s steps(30) 3;
			}
			.ban_client_panel_png{
				transform-origin:bottom center;
				-webkit-animation: speedUp 4.4s ease;
				-o-animation: speedUp 4.4s ease;
				animation: speedUp 4.4s ease ;
			}
			.log-on-btn{
				-webkit-animation: push .3s 1.8s linear 2;
				-o-animation: push .3s 1.8s linear 2;
				animation: push .3s 1.8s linear 2;
			}
			.ban_client_center_bottom_txt{
				-webkit-animation: filpX .8s 4.2s ease both;
				-o-animation: filpX .8s 4.2s ease both;
				animation: filpX .8s 4.2s ease both;
			}
			.ban_client_center_txt{
				-webkit-animation: appearUp3D 2.5s ease; 
				-o-animation: appearUp3D 2.5s ease; 
				animation: appearUp3D 2.5s ease; 
			}
			.log-on-btn{
				-webkit-animation: appearUp3D2 3.3s ease;
				-o-animation: appearUp3D2 3.3s ease;
				animation: appearUp3D2 3.3s ease;
			}
			.ban_client_panel_png_number{
				-webkit-animation: appearUp3D3 2.5s ease;
				-o-animation: appearUp3D3 2.5s ease;
				animation: appearUp3D3 2.5s ease;
			}
			.ban_client_png{
				-webkit-animation: showBox 7s ease;
				-o-animation: showBox 7s ease;
				animation: showBox 7s ease;
			}
			.ban_client_info{
				-webkit-animation: showinfo 7s ease;
				-o-animation: showinfo 7s ease;
				animation: showinfo 7s ease;
			}
			.banner-android-view{
				-webkit-perspective:400px; perspective:400px; -webkit-transform-style:preserve-3d;transform-style:preserve-3d;
				-webkit-animation: showBox 7s ease;
				-o-animation: showBox 7s ease;
				animation: showBox 7s ease;
			}
			.ban_client_png_android{
				-webkit-animation: appear3d 2.5s ease;
				-o-animation: appear3d 2.5s ease;
				animation: appear3d 2.5s ease;
			}
			.ban_client_center_txt_android{
				-webkit-animation: appearUp3D 2.5s ease;
				-o-animation: appearUp3D 2.5s ease;
				animation: appearUp3D 2.5s ease;
			}
			.log-on-btn_android{
				-webkit-animation: appearUp3D2 3.3s ease;
				-o-animation: appearUp3D2 3.3s ease;
				animation: appearUp3D2 3.3s ease;
			}
			.ban_client_panel_png_android{
				transform-origin:bottom center; 
				-webkit-animation: speedUp 2s 2.2s ease both;
				-o-animation: speedUp 2s 2.2s ease both;
				animation: speedUp 2s 2.2s ease both;
			}
			.first-number_android{
				-webkit-animation: numScroll3 2s 3s ease both;
				-o-animation: numScroll3 2s 3s ease both;
				animation: numScroll3 2s 3s ease both;
			}
			.second-number_android{
				-webkit-animation: numScroll4 0.5s 3s steps(10) 3;
				-o-animation: numScroll4 0.5s 3s steps(10) 3;
				animation: numScroll4 0.5s 3s steps(10) 3;
			}
		@keyframes slow {
			0%{ transform: translateX(0);opacity: 1;}
			100%{ transform: translateX(120px);opacity: 0;}
		}
		@keyframes fast{
			0% {background-position:-200px -140px;}
			100% {background-position:-200px -320px;}
		}
		@keyframes delay-inner{
			0%{width: 30px;}
			100%{width:460px;}
		}
		@keyframes delay-out {
			0% {width: 20px;}
			100% {width: 460px;}
		}
		@keyframes noDelay-inner {
			0% {width: 30px;}
			100% {width: 510px;}
		}
		@keyframes noDelay-out {
			0% {width: 20px;}
			100% {width: 510px;}
		}
		@keyframes show {
			0% {visibility: hidden; }
			100% {visibility:visible;}
		}
		@keyframes load{
			0%{transform: rotateZ(0);}
			100%{transform: rotateZ(360deg);}
		}
		@keyframes numScroll{
			0%{background-position: -745px 0}
			100%{background-position: -745px -180px}
		}
		@keyframes numScroll2{
			0%{background-position: -745px 0}
			100%{background-position: -745px -450px}
		}
		@keyframes speedUp{
			0%{opacity: 0;transform:rotateZ(-180deg);}
			50%{opacity: 0;transform:rotateZ(-90deg);}
			100%{opacity: 1;transform:rotateZ(0deg);}
		}
		@keyframes push{
			50%{transform:scale(0.8);}
			100%{transform:scale(1);}
		}
		@keyframes filpX{
			0%{opacity: 0; transform:rotateX(180deg); }
			100%{opacity: 1; transform:rotateX(0deg);} 
		}
		@keyframes appearUp3D{
			0%{opacity: 0;transform:translateY(50px) translateX(-25px)rotateY(-20deg);}
			40%{opacity: 1;transform:translateY(-5px) translateX(-25px)rotateY(-20deg);}
			100%{transform:translate(0) rotateY(0) }
		}
		@keyframes appearUp3D2{
			0%{opacity: 0;transform:translateY(50px)translateX(-25px)rotateY(-20deg) }
			30%{opacity: 1;transform:translateY(-5px)translateX(-25px)rotateY(-20deg) }
			60%{transform:translate(0)rotateY(0) }
			70%{transform:scale(0.8);}
			75%,100%{-webkit-transform: scale(1);}
		}
		@keyframes appearUp3D3{
			0%{opacity: 0;transform:translateY(50px)translateX(-40px)rotateY(-20deg);}
			40%{opacity: 1;transform:translateY(-5px)translateX(-40px)rotateY(-20deg);}
			100%{transform:translate(0)rotateY(0);}
		}
		@keyframes showBox{
			0% { transform: translateX(250px) }
			70% { transform: translateX(250px)}
			100% {  transform:translate(0) }
		} 
		@keyframes showinfo{
			0%{opacity: 0;transform: translateX(-100px)}
			70%{opacity: 0;transform: translateX(-100px)}
			100%{opacity: 1;transform: translateX(0px)}
		}
		@keyframes appear3d{
			0%{opacity: 0;transform:translateY(50px)
				rotateY(-10deg);}
			40%{opacity: 1;transform:translateY(-5px)
				rotateY(-10deg);}	
			100%{transform:rotateY(0deg);}
		}
		@keyframes numScroll3{
 		 	0% {background-position:-420px 0;}
  			100% {background-position:-420px -90px;}
		}
		@keyframes numScroll4{
			  0% {background-position:-420px 0;}
			  100% {background-position:-420px -300px;}
			}